
body {
    background-color: blanchedalmond;
}
.bio__interests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Evenly space the child elements */
}    

.interest {
    flex-basis: 16%;
    background-color: salmon;
    border: dashed 3px blueviolet;
    font-weight: bold; 
    text-align: center;
    margin: 40px auto;
    padding: 20px;

}